@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .nav-logo {
    @apply w-28 cursor-pointer relative z-50
  }

  .menu-btn {
    @apply w-[1.5rem] md:hidden h-[1.5rem] flex flex-col items-center justify-center gap-[0.1875rem]
  }

  .menu-line {
    @apply w-[0.9375rem] h-[0.125rem] bg-dark-gray rounded-full transition duration-300
  }


  .logo {
    @apply lg:w-11 lg:h-11 w-8 h-8 object-cover;
  }

  .inner-container {
    @apply max-w-[1240px] m-auto;
  }

  .cont {
    @apply max-w-[1440px] mx-auto;
  }

  .btn {
    @apply text-white font-semibold py-2 rounded-full lg:px-6 px-3 text-sm lg:text-base;
  }

  .title {
    @apply sm:mt-10 mt-4 xl:leading-70 leading-tight font-black text-center lg:text-left xl:text-5xl lg:max-w-none md:max-w-900 max-w-475 mx-auto md:text-4xl sm:text-3xl text-2xl text-primary;
  }

  .inp {
    @apply outline-none rounded-md mb-3 p-2 text-black text-sm font-normal;
  }

  .inp ::placeholder {
    @apply text-sm font-medium;
  }

  .image {
    @apply max-w-[560px] w-full;
  }

  .hover {
    @apply shadow-[0_10px_40px_rgba(0,0,128,.05)] duration-300 hover:shadow-[0_15px_30px_rgba(0,0,128,15)] cursor-pointer
  }

  .visibility:hover {
    @apply pt-4 border-t-[16px] border-blue300;
  }

  .visibility:hover .icon {
    @apply bg-primary;
  }

  .visibility:hover .icon i {
    @apply text-blue300;
  }

  .visibility:hover .bg-blue {
    @apply !bg-blue300 !text-primary;
  }

  .visibility:hover .text-gray-400 {
    @apply text-gray-300;
  }

  .dot {
    @apply w-2 h-2 rounded-full duration-300 bg-[#dfdef4] cursor-pointer
  }

  .dot-active {
    @apply w-5 bg-[#8585ff]
  }

  .btn-primary {
    @apply h-12 px-12 rounded-full bg-gray750 text-white shadow-[0px_15px_30px_#fff] font-bold hover:bg-[#8585ff] hover:shadow-[0px_15px_30px_rgba(133,133,255,0.2)] duration-200 transition-all
  }

  .card {
    @apply w-52 h-24 flex items-center justify-center rounded-[20px] hover
  }

  .card img {
    @apply w-24 cursor-pointer
  }

  .search-animation {
    @apply bg-[currentColor] w-[0.09375rem] h-[0.375rem] absolute top-[22px] left-[0.35rem] origin-[50%_-0.4375rem] -rotate-45 duration-[400ms] ease-out translate-y-[0.5625rem] rounded-b-full
  }

  .search-btn:hover .search-animation {
    @apply rotate-45
  }

  .input {
    @apply text-2xl sm:text-3xl md:text-5xl font-normal outline-none h-auto placeholder:text-secondary bg-transparent
  }

  ul {
    @apply mt-4 gap-4 md:gap-0 md:mt-0
  }

  form button {
    @apply w-full border-[#dfdef4] border-collapse border-x rounded-full
  }

  form input {
    @apply text-gray750 font-bold text-3xl w-full outline-none text-center
  }
}

code, pre {
  width: 500px;
  height: 550px;
  border-radius: 10px !important;
  overflow: hidden;
}

.estimator {
  background-image: url('./assets/rate-bg.svg');
  background-repeat: no-repeat;
  background-position: right;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}